body {
    background-color: rgb(5, 5, 5);
}
.intro {
    padding: 80px;
    /* padding-top: 90px;
    padding-bottom: 90px; */
    background-image: url(imagens/guitar\ 2.jpeg) ;
    background-size: cover;
}
.intro h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.intro p {
    text-align: center;
    color: aliceblue;
}
.playlist_video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    width: 95%;
    max-width: 700px ;
    box-shadow: 0px 0px 90px rgba(185, 185, 185, 0.2);

}
.menu {
    margin-top: 185px;
    margin-bottom: 100px;
}
.playlist {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.playlist:hover {
    background-color: rgb(151, 151, 151);
}
.playlist p {
    padding: 20px;
    color: rgb(0, 0, 0);
}
.playlist a {
    text-decoration: none;
}

.avisos {
    padding: 15px;
    /* padding-bottom: 10px; */
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}
.avisos h2 {
    text-align: center;
    color: white;
    font-size: 16px;
}
.avisos h3 {
    text-align: center;
    color: white;
    font-size: 14px;
    /* background-color: rgb(0, 0, 0); */
    padding: 20px;
    width: 250px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}